*{
    
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    background-color: #34495e;
}

li{
    list-style: none;
}
.linkm{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 25px;
    transition: 0.25s;
    font-size: 15px;
    
    
}
.linkm:hover{
    color: orange;
    
}
header{
    position: relative;
    padding: 0 2rem;
   
}
.navbar{
    background-color:  #3498db;
    width: 100%;
    height: 80px;
    max-width: 1200PX;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.navbar .link{
    display: flex;
    gap: 2rem;
}
.bloque{
    display: inline-flex;
}
.filtro{
    position: relative;
    background-color: aliceblue;
    width: 100%;
    height: 90%;
    margin: 20px;
    border-radius: 10px;
}

.productos{
    position: absolute;
    background-color: aliceblue;
    width: 78%;
    border-radius: 10px;
    left: 20%;
    height: 100%;
    margin-top: 20px;
    padding: 10px 30px 30px 40px;

}  
.card{
    display: inline-block;
    background-color: 000;
    width: 25%;
    height: 50%;
    margin-right: 25px;
    margin-top: 35px;
    margin-left: 35px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    
}
.precio{
    position: relative;
    text-align: center;
    height: 100%;
    color: black;
    
    top: 30%;
    padding-top: 25px;
    font-size: 25px;

}
.precio_normal{
    
    font-size: 12px;
    position: relative;
  
}
.precio_precio_normal{
    display: inline-block;
    text-decoration:line-through;
}
.boton_contratar{
    width: 60%;
    margin-top: 7px;
    border-radius: 5PX;
    background-color: transparent;
    
}

.categorias{
    position: relative;
    display: block;
    background-color: rgb(211, 211, 211);
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px 10px 10px 10px;
    margin-right: 15px;
    border-radius: 5px;
}
.categorias2{
    position: relative;
    display: block;
    padding-left: 5px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}
.desc{
    padding-bottom: 10px;
    position: relative;
    left: 35px;
    
}
select{
    border: 0; 
    margin-bottom: 10px;
    border: 2PX solid #3498db;
    width: 95%;
    outline: none;
    border-radius: 24px;
    color: black;
    transition: 0.25s;
    cursor: pointer;
}
.botones{
    padding: 10px 0px 0px 0px;
    background-color: #fff;
    text-align: center;
}
.boton{
    content: center;
    height: 30px;
    order: 0; 
    margin-bottom: 10px;
    border: 2PX solid #3498db;
    width: 50%;
    outline: none;
    border-radius: 24px;
    color: black;
    transition: 0.25s;
    cursor: pointer;
}

.boton:hover{
    width: 80%;
    color:  #3498db;
}
.footer_carta{
    
    margin-top: 15px;
    padding-top: 15px;
    background-color: aqua;
    height: 100%;
}
.card_header{
    padding-top: 20px;
    font-size: small;
}

.left{
    display: inline-block;
    text-align: end;
    background-color: red;
}
.right{
    display: inline-block;

    background-color: aqua;
}
.card_footer{
    position: relative;
    margin-top: 100%;
    background-color: blue;
}



